body {
  font-family: monospace;
  color: white;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  transition: all ease-in-out 0.5s;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#floating-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(to bottom, rgb(254,158,32), rgba(140, 0, 255));
}

.conty {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  padding: 1rem 0;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.title :first-child {
  font-size: 2rem;
}

main {
  margin-top: 120px;
  padding-top: 1rem !important;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-evenly;
  background: #11191F;
}

.button-footer {
  filter: brightness(0.6);
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.button-footer.selected {
  filter: brightness(1);
}

.button-footer.selected::before {
  content: '•';
  position: absolute;
  margin-left: -15px;
}

#bannerGoal {
  position: relative;
  margin: 1rem 0;
  font-size:1.5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border: 5px dashed;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

input {
  margin-bottom: 0 !important;
}

#sectionAdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

#dataNotFoundMessage {
  font-size: 1rem;
  margin-top: 0.25rem;
  opacity: 0.5;
}

#goalCounter {
  width: 100px;
  text-align: center;
  font-size: 1.25rem;
}

#sectionDays {
  background: #11191F;
  border-radius: 5px;
  padding: 0 1rem;
}

.day-element {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 1rem;
  border-bottom: solid 1px;
  padding: 1rem 0;
}

.section:not(.show) {
  display: none !important;
}

.day-element.star :nth-child(4)::after {
  position: absolute;
  content: '🏅';
  font-size: 1.25rem;
}

#sectionTrend {
  display: flex;
  flex-direction: column;
  max-height: 40vh;
}

@media screen and (min-width: 992px) {
  #sectionTrend {
    max-height: 55vh !important;
  }

  main {
    margin-top: 140px;
  }
}

#chart {
  margin-top: 1rem;
  background: #11191F;
  padding: 1rem;
  border-radius: 5px;
}

header {
  background: #11191F;
}

#bannerGoal.highlight #goalCounter {
  border-color: #00D26A;
  border-width: 2px;
}

#bannerGoal.highlight::after {
  content: '✅';
  position: absolute;
  font-size: 1rem;
  right: 0;
  margin-right: 7px;
  margin-top: -40px;
}

input {
  color: white !important;
}

#buttonDeleteAll {
  padding: .75rem;
  text-align: center;
  background: #FD9C22;
  margin: 1rem 0;
  border-radius: 5px;
  font-weight: bold;
}

.button-chart {
  padding: .5rem .75rem;
  background: #11191F;
  border-radius: 5px;
  margin-top: 1rem;
  flex-grow: 1;
  text-align: center;
}

.button-chart.selected {
  border: 3px solid #F7A001;
  color: #F7A001;
}

#version {
  position: fixed;
  top: 10px;
  right: 15px;
  font-size: .5rem;
}

#signature {
  position: fixed;
  top: 10px;
  left: 15px;
  font-size: .5rem;
  z-index: 2;
}

#hamburger {
  position: fixed;
  left: 20px;
  top: 0;
  margin-top: -15px;
  font-size: 4rem;
}

#menu {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(17,25,31,0.95);
  backdrop-filter: blur(5px);
  z-index: 4;
  transition: all ease-in .3s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#menu.show {
  width: 50vw;
}

#menu-closer {
  font-size: 2rem;
  margin: 1rem 1.5rem 0 auto;
}